/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* Common CSS */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;;
}
.width-75{
    width: 75%;
    margin: auto;
}
.margin-30{
    margin-bottom: 30px;
}
.title{
    margin: 10px 0px;
    font-size: 24px;
    color: #562EFF;
    margin-bottom: 20px;
}
.blog-title{
    font-size: 20px;
}
.img{
    height: 50px;
    width: 50px;
}
/* Header CSS */
.header{
    height: 100px;
    background-color: #562EFF;
}
.nav{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right-menu{
    display: flex;
    align-items: center;
}
.right-menu a{
    color: white;
    margin-right: 30px;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
}
/* Main Section CSS */
/* Players */
.players, .courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
.player{
    display: flex;
    align-items: center;
}
.player-name{
    font-size: 18px;
    margin-left: 10px;
}
hr{
    color: #D1D1D1;
}
/* Top Blogs */
.blog-writer{
    font-size: 16px;
}
.by{
    color: #9F9F9F;
}
.writer-name{
color: #562EFF;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 25px;
    grid-column-gap: 45px
}
.blog{
    display: flex;
    align-items: center;
}
.blog-img{
    width: 170px;
    height: 115px;
}
.blog-description{
    margin-left: 15px;
}
/* Courses */
.course-container{
    background-color: #FFFFFF;
    padding: 25px;
    border-radius: 10px;
}
.instructor{
    font-size: 14px;
    color: #ED6B4F;
}
.course img{
    width: 100%;
}
.golden-star{
    color: #FFC014;
}
.cilver-color{
    color: #AEAEAE;
}
.ratings{
    color: #A2A2A2;
    margin-left: 20px;
}
.statastics{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.star{
    display: flex;
    align-items: center;
}
.watch-time{
    background-color: #f3d9d4;
    padding: 5px 10px;
    border-radius: 20px
}
/* Small Device CSS*/
@media only screen and (max-width: 576px) {
    .width-75{
        width: 100%;
    }
    .right-menu a{
        margin-right: 15px;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .blog{
        flex-direction: column;
    }
    .title{
        text-align: center;
    }
}
/* Medium Device */
@media only screen and (min-width: 577px) and (max-width: 950px) {
    .players, .blogs, .courses {
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
}

